<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品詳細</title>
</head>
<body>
    <h1>商品詳細</h1>

    <table border="1">
        <tr>
            <th>商品名</th>
            <th>価格</th>
            <th>詳細</th>
        </tr>

        {% for product in object_list %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}円</td>
            <td>
                <a href="/crud/detail/{{ product.id }}/">詳細</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>